

.features {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: $color-white;
    color: $primari-text-color;
}

.features__list {
    justify-content: space-between;
    color: $primari-text-color;
    // display: flex;
    // flex-wrap: wrap;
}


.features__title {
    text-align: center;
    margin-top: 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;

    @media screen and (min-width:767px) {
        text-align: left;
    }
}

.features__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    color: $second-text-color;
    margin-top: 0;
    margin-bottom: 0;
}

.features__item {
    margin-bottom: 30px;

    @media screen and (min-width: 768px) {
            width: calc((100% - 4 * 15px)/2);
            margin: 15px;
        }



}

.features__icon {
    padding: 25px;
        width: 100%;

    height: 120px;
    
    margin-bottom: 30px;
    background: #f5f4fa;
    border-radius: 4px;

    display: flex;
    justify-content: center;
    align-items: center;
}