

.footer {
    padding: 60px 0;
    background: $footer-back-color;

    @media screen and(max-width: 1199px) {
            text-align: center;
        }
}

.footer-container {

    @media screen and(min-width: 1200px){
        display: flex;
        justify-content: center;

    }
    
}



.footer__contact{
       display: flex;
        flex-direction: column;

        @media screen and(max-width: 1199px) {
                margin-bottom: 60px;
            }
        
            @media screen and(min-width: 1200px) {
                margin-right: 70px;
            }
}

.footer-address {
    list-style: none;
    margin: 0;
    padding: 0;
    font-style: normal;
}

.footer-addres__item {
    margin-bottom: 9px;
}

.footet-addres__top {
    margin-top: 20px;
    
}

.address__map{
    color: $color-white;
}

.footer-address__link {
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    color: rgba(255, 255, 255, 0.6);
    transition: background-color 250ms$cubic-bezier, color 250ms$cubic-bezier;

    &:hover,    &:focus{
        color: $accent-color;
    }
}



/* ----------------Приєднуйтесь----------------- */
.footer-join {
    @media screen and(max-width: 1199px) {
            margin-bottom: 60px;
        }
}

.footer-join__list {
    padding: 0;
    margin: 0;
    padding-left: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-join__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $color-white;
    margin-bottom: 20px;

    @media screen and(max-width:1199px) {
        text-align: center;
        
    }
}

.footer-join__list--item {
    display: flex;

    margin: 0;
    padding: 0;
}

.footer-join__link {
    width: 44px;
    height: 44px;
    padding: 0;
    border: 0;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    margin-right: 10px;
    transition: background-color 250ms$cubic-bezier, color 250ms$cubic-bezier;

    &:hover, &:focus{
        background-color: $accent-color;
    }
}


.footer-join__icon {
    margin: 12px;
    width: 20px;
    height: 20px;
    fill: $color-white;
}

/* -----------------Footer Form Підпишіться---------------- */
.footer-subscribe {
    margin-left: auto;
}



.footer-subscribe__list {
    @media screen and(min-width: 1200px) {
            display: flex;
            justify-content: center;
            align-items: center;
        }
}

.footer-subscribe__position {
    width: auto;
    height: 50px;

    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;

    @media screen and(min-width: 1200px) {
            width: 356px;
            margin-right: 12px;
        }
}

.footer-subscribe__input {
    padding: 15px 16px;
    width: 100%;
    outline: none;
    border-radius: 4px;

    background-color: $footer-back-color;
    color: rgba(255, 255, 255, 0.6);
    border: none;
    transition: border 250ms $cubic-bezier;

    &:focus{
        outline: none;
            border-radius: 4px;
            border: solid 1px $accent-color;
    }

       
    
        
}



.footer-form__button {
    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 50px;

    background: $accent-color;

    border-radius: 4px;
    border: currentColor;

    letter-spacing: 0.06em;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;

    color: $color-white;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;

    transition: background-color 250ms $cubic-bezier, box-shadow 250ms $cubic-bezier;

    &:hover{
        cursor: pointer;
            box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
    }

         @media screen and(max-width: 1199px) {
             margin-top: 20px;
         }
}


.footer-form__icon {
    margin-left: 10px;
    width: 24px;
    height: 24px;
}



