

.contact {

    @media screen and (max-width:767px) {
        display: flex;
            flex-direction: column-reverse;
            padding-left: 0;

            &__link-phone{
                color: $accent-color;
                font-size: 34px;
                
            }

            &__link-mail{
                color: $second-text-color;
                font-size: 24px;
            }

            &__icon--envelope, &__icon--smartphone {
                display: none;
            }



             @media screen and(min-width: 768px) {
                             font-size: 12px;
                             margin-bottom: 0;
            
            
                             &__icon {
                                 fill: currentColor;
                             }
            
                         }
            
    }
         @media screen and(min-width: 1200px) {
             display: flex;
             justify-content: center;
             align-items: center;
             font-size: 14px;
             margin-top: 0;
    
         }
    // font-weight: 500;
    // font-size: 14px;
    // line-height: 1.14;
    // letter-spacing: 0.02em;
    // margin-left: auto;
    // display: flex;
}

.contact__list{
    @media screen and(max-width:767px) {
            margin-bottom: 32px;
        }
    
        @media screen and(min-width: 768px) {
            margin-bottom: 10px;
    
            &:last-child {
                margin-bottom: 0;
            }
        }
    
        @media screen and(min-width: 1200px) {
            margin-top: 0;
            margin-left: auto;
            margin-bottom: 0;
            margin-left: 50px;
    
            &:first-child {
                margin-left: 0;
            }

}
}
// .contact__list:not(:last-child) {
//     margin-right: 50px;
// }


.contact__icon--envelope {
    fill: currentColor;
    width: 16px;
    height: 12px;
    margin-right: 10px;
}

.contact__icon--smartphone {
    fill: currentColor;
    width: 10px;
    height: 16px;
    margin-right: 10px;
    margin-top: -2px;
}

.contact__link {
    @media screen and (min-width:768px) {
        color: #757575;
        font-size: 12px;
            line-height: 1.16;
            letter-spacing: 0.02em;
            display: flex;
            
            align-items: center;
        
    }
    
   @media screen and(min-width: 1200px) {
       display: flex;
       justify-content: center;
       align-items: center;

       font-weight: 500;
       font-size: 14px;
       line-height: 1.14;
       letter-spacing: 0.02em;
   }

   text-decoration: none;
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 500;
   line-height: 14px;
   letter-spacing: 0.02em;

   transition: background-color 250ms $cubic-bezier,
   color 250ms $cubic-bezier;

   &:hover,
   &:focus {
       color: $accent-color;
   }

  

}


