
.navigation {
    @media screen and (min-width:768px) {
        margin-left: 93px;
            display: flex;
            margin-top: 32px;
            margin-bottom: 32px;
        
            
    }
    
}
// .navigation__list{
    
// }

.navigation__link {
    display: block;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    

    color: $primari-text-color;
    transition: background-color 250ms $cubic-bezier, color 250ms $cubic-bezier;

    &:hover, &:focus{
        color: $accent-color;
    }

    @media screen and (max-width:767px) {
        font-size: 40px;
        margin-bottom: 32px;

        
        
    }
}



.navigation__list:not(:last-child) {
    margin-right: 50px;
}