

@media screen and (min-width: 480px) {
    body {
        width: 480px;
}
}

@media screen and(max-width: 479px) {
    
}


@media screen and (min-width: 768px) {
    body{
        width: 768px;
    }
}

@media screen and (min-width: 1200px) {
    body{
        width: 1200px;
    }
}
// Приховати щось до такої ширини
@media screen and (max-width: 767px) {
    .rewies{
        display: none;
    }
}


// з такої ширини до такої, щоб був бордер
@media screen and (min-width: 480px) and (max-width: 768px) {
    .rewies{
        border: solid 1px;
    }
}